

#selo{
    margin-right: 10%;
    padding-top: 2%;
    width: 15%;
    height: 15%;
        
}

#folha{
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 60%;
}

#image{
   
    margin-left: 38%;
    width: 23%;
    height: 23%;
    
}